AuthName "Meine Webseite"
AuthType Basic
AuthUserFile /var/www/vhosts/devzugang.htpasswd
require valid-user


RewriteEngine on
RewriteCond %{REQUEST_URI} metrics$
RewriteRule ^(.*)$ http://%{HTTP_HOST}/metrics/ [R=301,L]
RewriteCond %{REQUEST_URI} coverage$
RewriteRule ^(.*)$ http://%{HTTP_HOST}/coverage/ [R=301,L]
