<h1>Alle gecrawlten Seiten</h1>
<ul>
  <li>
    <%= link_to "potenzielle Problemseiten -> StatusCode nicht 200, oder hat ?q= in der URL", "/pages/problems" %>
  </li>
  <li>
    <%= link_to "Externe mit min. 1 Backlink ohne relnofollow", "/pages/nofollow" %>
  </li>
  <li>
    <%= link_to "Alle", "/pages" %>
  </li>
</ul>

<%=table_for @pages,     {
  :select_controls => [],
  :submit_label => "Anwenden",
  :info_text => "Zeige %1$d, gesamt %2$d",
  :filter => false,
} do |t|
  t.column :title do |item|
    if item.title
      link_to truncate(item.title, :length => 50), item
    else
      "-"
    end
  end
  t.column :url do |item|
    if item.url
      link_to truncate(item.url, :length => 80), item.url, :target => "_blank"
    else
      ""
    end
  end
  t.column :status_code, :header => "Status"
  t.column :size do |item|
    (item.size / 1024).to_s + "kb" rescue "-"
  end
  t.column :links_count, :header => "links #" do |item|
    link_to (item.links_count || "?"), links_page_seo_index_path(item), :rel => :facebox
  end
  t.column :backlinks_count, :header => "Backlink #" do |item|
    link_to (item.backlinks_count || "?"), backlinks_page_seo_index_path(item), :rel => :facebox
  end
  t.column :external, :header => "Extern"
end %>
